@import "../../vars.css";

.txt {
  font-weight: 500;
  font-size: 14px;
}
.home {
  font-family: var(--font-roboto);
  color: var(--color-text);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 29px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.home .homecontent {
  max-width: 74rem;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 13px;
  font-family: var(--font-roboto);
}

.homecontent h3 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 13px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.homecontent h1 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 13px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.homecontent .btnn {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 13px;
  font-family: var(--font-roboto);
  position: relative;
  display: flex;
}

.homecontent p {
  font-size: 18px;
  font-weight: 300;
  font-family: var(--font-roboto);
  margin-bottom: 30px;
}

.homecontent .socialmedia a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 2rem;
  color: var(--color-primary);
  margin: 0px 4px 4px 7px;
  margin-bottom: 20px;
  transition: 0.5s ease;
}

.homecontent .socialmedia a:hover {
  background: var(--color-text);
  color: var(--color-primary);
}

.bubblybutton {
  display: inline-flexbox;
  font-size: 1em;
  padding: 1em 2em;
  margin: 5px 5px 3px 8px;
  margin-right: 2px;
  margin-bottom: 20px;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 9px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.2s;
  box-shadow: 3px 13px 35px rgba(255, 0, 130, 0.5);
}

.bubblybutton:focus {
  outline: 0;
}

.bubblybutton:before, .bubblybutton:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubblybutton:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubblybutton:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubblybutton:active {
  transform: scale(0.9);
  background-color: var(--color-primary);
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.bubblybutton.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.bubblybutton.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.heroImg {
  width: 70%;
  z-index: 7;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .home {
    flex-direction: column-reverse;
  }

  .homecontent {
    align-items: center;
    text-align: center;
  }

  .bubblybutton {
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .homecontent .socialmedia a {
    align-items: center;
    position: relative;
  }
}